<div class="usability-testing">
  <div class="container-fluid p-5">
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <h2>Digivante’s usability testing delivers</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="row mt-5 p-2">
          <div class="col-md-12 text-center">
            <span class="icon">
              <i class="fa-solid fa-info"></i>
            </span>
          </div>
        </div>
        <div class="row mt-5 p-2">
          <div class="col-md-12 text-center">
            <h1>Data-driven insight</h1>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-12 text-center">
            <p>Your usability assessment pinpoints the obstacles that deter users from spending time and money on your
              website, based on objective data.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mt-5 p-2">
          <div class="col-md-12 text-center">
            <span class="icon">
              <i class="fa-solid fa-address-card"></i>
            </span>
          </div>
        </div>
        <div class="row mt-5 p-2">
          <div class="col-md-12 text-center">
            <h1>Authenticity</h1>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-12 text-center">
            <p>Your solution will be examined by a test audience that’s just like your customers, generating feedback
              that would otherwise have remained unknown.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row mt-5 p-2">
          <div class="col-md-12 text-center">
            <span class="icon">
              <i class="fa-regular fa-eye"></i>
            </span>
          </div>
        </div>
        <div class="row mt-5 p-2">
          <div class="col-md-12 text-center">
            <h1>Visual experience</h1>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-md-12 text-center">
            <p>Unlike automated or scripted test cases, Digivante’s human testers will uncover graphical issues,
              inconsistent branding and other visual reasons for lower conversions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- div with bg-image-->
  <div class="container-fluid bg-img">

  </div>

  <!-- how usability testing works-->
  <div class="container-fluid p-5" style="background-color: white;">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>How Digivante usability testing works</h1>
      </div>
    </div>
  </div>

  <!-- Cards div-->
  <div class="container-fluid" style="background-color: white;">
    <div class="row p-3">
      <div class="col-md-4 p-4">
        <div class="card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-bullseye"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Hyper-targeted</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>We work with you to identify your target demographic, then we identify people within the Digivante
                community that match those requirements.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-laptop"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Real reactions</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>We capture pre- and post- experience descriptions of user reactions and feelings.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-mobile-screen-button"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Screen recording</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>We provide video evidence to support the usability reports.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: white;">
    <div class="row p-3">
      <div class="col-md-4 p-4">
        <div class="card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-id-card"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Prioritisation</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>We categorise issues by severity, guided by Nielsen’s industry standard principles.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-flag"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Demographic data</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>We create detailed usability reports including the number of users and their demographics.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-face-smile"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Positive experience</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Our testers don’t just capture negative issues: they also identify what’s effective and appealing in
                your site or app.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: white;">
    <div class="row p-3">
      <div class="col-md-4 p-4">
        <div class="card end-card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-table-list"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Quality assured</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>You receive moderated, prioritised recommendations for change.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card sz-card bd-radius p-4">
          <div class="row">
            <div class="col-md-12">
              <span class="icon1">
                <i class="fa-solid fa-eye"></i>
              </span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <h3>Detailed reports</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Your report includes trust rating, net promoter score and web usability score.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
