p {
  font-size: 1.2rem;
  font-weight: 500;
}

span.icon1 {
  background: rgb(214, 224, 242);
  border-radius: 18px;
  padding: 30px;
}

span.icon1 i {
  color: rgb(19, 118, 236);
  font-size: 2.4rem;
}

a {
  cursor: pointer;
}
