<div class="intereested-div p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>You might also be interested in…</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="row">
          <div class="col-md-12 p-5">
            <span class="icon1">
              <i class="fa-brands fa-firefox"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Localisation testing</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Global audiences demand that local knowledge, culture and standards are reflected in your website or app.
              An inauthentic experience can prevent you from expanding successfully into new markets. Our testers can
              assess the performance of your website or app for local audiences.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a style="color: rgb(19,118,236)">Learn More
              <span class="ms-1">
                <i class="fa-solid fa-arrow-right"></i>
              </span></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="row">
          <div class="col-md-12 p-5">
            <span class="icon1">
              <i class="fa-solid fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Post-release testing</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Digivante has a wealth of testers in our large QA community. We can run testing that would take you days
              in just a few hours, so you can fix any unforeseen issues before they impact customer experience and
              revenue.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a style="color: rgb(19,118,236)">Learn More
              <span class="ms-1">
                <i class="fa-solid fa-arrow-right"></i>
              </span></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="row">
          <div class="col-md-12 p-5">
            <span class="icon1">
              <i class="fa-regular fa-pen-to-square"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Test case writing</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Our specialists write up to twenty test cases per day, incorporating hundreds of test steps. We can
              script these as automated tests when appropriate, or our professional QA community can run them fast and
              efficiently.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a style="color: rgb(19,118,236)">Learn More
              <span class="ms-1">
                <i class="fa-solid fa-arrow-right"></i>
              </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
