<section class="header">
  <app-header></app-header>
</section>

<section class="home">
  <app-home></app-home>
</section>

<section class="uability-testing-deliveries">
  <app-usability-testing></app-usability-testing>
</section>

<section class="usability-testingpartners">
  <app-usability-testing-partners></app-usability-testing-partners>
</section>

<section class="faq-div">
  <app-faq></app-faq>
</section>

<section class="interested">
  <app-interested></app-interested>
</section>

<section class="contact-form">
  <app-contact-form></app-contact-form>
</section>

<Section class="footer">
  <app-footer></app-footer>
</Section>
