<div class="frequently-asked p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Frequently asked questions</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Is outsourced web testing secure?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>We know that confidentiality is a real concern when using remote testers. Our business depends on
                  making our testing service secure so you can be certain we take the greatest care to provide
                  exceptionally secure systems and services. We use three-way contractual protection between the
                  customer, the testing organisation and the testers themselves. We’ve worked with leading household
                  names, from Microsoft and Metro Bank to Audi and Specsavers. They trust us to keep their testing
                  secure and confidential.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Does Digivante just do crowdtesting?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>
                  No. We use crowdsourced testing for some services, like exploratory testing, executing test cases and
                  accessibility testing. We combine human testing with automated testing, depending on the specific
                  need. But we also support clients with usability testing, test strategy and planning through our team
                  augmentation service. And we provide people to augment client teams, both short-term and long-term.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                What is community or crowd testing?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>Crowdtesting means using our community (or crowd) of vetted testers for rapid, large-scale testing on
                  a range of devices and platforms. We use crowdtesting for exploratory testing and executing test
                  cases. Our central teams manage quality control to make sure defects are reported clearly, with all
                  duplicates compiled into a single report, and that defects can be reproduced.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Is outsourced web testing secure?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>We know that confidentiality is a real concern when using remote testers. Our business depends on
                  making our testing service secure so you can be certain we take the greatest care to provide
                  exceptionally secure systems and services. We use three-way contractual protection between the
                  customer, the testing organisation and the testers themselves. We’ve worked with leading household
                  names, from Microsoft and Metro Bank to Audi and Specsavers. They trust us to keep their testing
                  secure and confidential.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                Does Digivante just do crowdtesting?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>
                  No. We use crowdsourced testing for some services, like exploratory testing, executing test cases and
                  accessibility testing. We combine human testing with automated testing, depending on the specific
                  need. But we also support clients with usability testing, test strategy and planning through our team
                  augmentation service. And we provide people to augment client teams, both short-term and long-term.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                What is community or crowd testing?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>Crowdtesting means using our community (or crowd) of vetted testers for rapid, large-scale testing on
                  a range of devices and platforms. We use crowdtesting for exploratory testing and executing test
                  cases. Our central teams manage quality control to make sure defects are reported clearly, with all
                  duplicates compiled into a single report, and that defects can be reproduced.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                Is outsourced web testing secure?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>We know that confidentiality is a real concern when using remote testers. Our business depends on
                  making our testing service secure so you can be certain we take the greatest care to provide
                  exceptionally secure systems and services. We use three-way contractual protection between the
                  customer, the testing organisation and the testers themselves. We’ve worked with leading household
                  names, from Microsoft and Metro Bank to Audi and Specsavers. They trust us to keep their testing
                  secure and confidential.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                Does Digivante just do crowdtesting?
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>
                  No. We use crowdsourced testing for some services, like exploratory testing, executing test cases and
                  accessibility testing. We combine human testing with automated testing, depending on the specific
                  need. But we also support clients with usability testing, test strategy and planning through our team
                  augmentation service. And we provide people to augment client teams, both short-term and long-term.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                What is community or crowd testing?
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>Crowdtesting means using our community (or crowd) of vetted testers for rapid, large-scale testing on
                  a range of devices and platforms. We use crowdtesting for exploratory testing and executing test
                  cases. Our central teams manage quality control to make sure defects are reported clearly, with all
                  duplicates compiled into a single report, and that defects can be reproduced.</p>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                  Is outsourced web testing secure?
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>We know that confidentiality is a real concern when using remote testers. Our business depends on
                    making our testing service secure so you can be certain we take the greatest care to provide
                    exceptionally secure systems and services. We use three-way contractual protection between the
                    customer, the testing organisation and the testers themselves. We’ve worked with leading household
                    names, from Microsoft and Metro Bank to Audi and Specsavers. They trust us to keep their testing
                    secure and confidential.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                  Does Digivante just do crowdtesting?
                </button>
              </h2>
              <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>
                    No. We use crowdsourced testing for some services, like exploratory testing, executing test cases
                    and
                    accessibility testing. We combine human testing with automated testing, depending on the specific
                    need. But we also support clients with usability testing, test strategy and planning through our
                    team
                    augmentation service. And we provide people to augment client teams, both short-term and long-term.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                  What is community or crowd testing?
                </button>
              </h2>
              <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>Crowdtesting means using our community (or crowd) of vetted testers for rapid, large-scale testing
                    on
                    a range of devices and platforms. We use crowdtesting for exploratory testing and executing test
                    cases. Our central teams manage quality control to make sure defects are reported clearly, with all
                    duplicates compiled into a single report, and that defects can be reproduced.</p>
                </div>
              </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThirteen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                    Is outsourced web testing secure?
                  </button>
                </h2>
                <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>We know that confidentiality is a real concern when using remote testers. Our business depends on
                      making our testing service secure so you can be certain we take the greatest care to provide
                      exceptionally secure systems and services. We use three-way contractual protection between the
                      customer, the testing organisation and the testers themselves. We’ve worked with leading household
                      names, from Microsoft and Metro Bank to Audi and Specsavers. They trust us to keep their testing
                      secure and confidential.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFourteen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                    Does Digivante just do crowdtesting?
                  </button>
                </h2>
                <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>
                      No. We use crowdsourced testing for some services, like exploratory testing, executing test cases
                      and
                      accessibility testing. We combine human testing with automated testing, depending on the specific
                      need. But we also support clients with usability testing, test strategy and planning through our
                      team
                      augmentation service. And we provide people to augment client teams, both short-term and
                      long-term.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFifteen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                    What is community or crowd testing?
                  </button>
                </h2>
                <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>Crowdtesting means using our community (or crowd) of vetted testers for rapid, large-scale
                      testing on
                      a range of devices and platforms. We use crowdtesting for exploratory testing and executing test
                      cases. Our central teams manage quality control to make sure defects are reported clearly, with
                      all
                      duplicates compiled into a single report, and that defects can be reproduced.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
